.form_personal {}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

hr {
    border-top: 2px solid black;
    margin-bottom: 20px;
}

.polovica {
    width: 49%;
    display: inline-block;
}