.prianie {
    font-family: "lucida calligraphy", cursive;
    font-weight: bold;
    font-size: 27px;
    color: rgb(15, 111, 255);
    text-shadow: 1px 2px 5px rgb(53, 53, 53);
}

.main_content img {
    box-shadow: 2px 3px 8px #000000;
}

.moto {
    text-shadow: 2px 3px 3px black
}