<!DOCTYPE html>
<html lang="sk">

<head>
    <title>Ital tour</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="../static/img/logo.png" />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/kontakt.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="../static/js/menu.js"></script>
</head>

<body>
    <div class="content">
        <div class="partnerske_ck">
            <img src="../static/img/tip_travel.png" alt="tip_travel">
            <img src="../static/img/hydrotour_logo.gif" alt="hydrotour">
            <img src="../static/img/satur.png" alt="satur">
            <img src="../static/img/solvex.png" alt="solvex">
            <img src="../static/img/turancar.jpg" alt="turancar">
            <img src="../static/img/fifo.png" alt="fifo">
            <img src="../static/img/kartago.jpg" alt="kartago">
            <img src="../static/img/happy_travel.png" alt="happy_travel">
            <img src="../static/img/azad.png" alt="azad">
            <img src="../static/img/globtour.jpg" alt="globtour">
            <img src="../static/img/daka.png" alt="daka">
            <img src="../static/img/paxtravel.png" alt="paxtravel">
        </div>
        <div class="background_image">
            <img src="../static/img/plaz_background.jpg" alt="background">
        </div>
        <ul class="exo-menu">
            <img id="logo" src="../static/img/logo.png" alt="Logo">
            <li><a href="index_with_iframe.html"><i class="fa fa-home"></i> Úvod</a></li>
            <li class="drop-down"><a href="#"><i class="fa fa-angle-down"></i><i class="fa fa-suitcase"></i>Letentky, hotely, autá</a>
                <!--Drop Down-->
                <ul class="drop-down-ul animated fadeIn">
                    <li><a href="#">Letentky</a></li>
                    <li><a href="#">Hotely</a></li>
                    <li><a href="#">Autá</a></li>
                </ul>
                <!--//End drop down-->
            </li>
            <li class="drop-down"><a href="#"><i class="fa fa-angle-down"></i><i class="fa fa-cogs"></i>Iné služby</a>
                <!--Drop Down-->
                <ul class="drop-down-ul animated fadeIn">
                    <li class="flyout-right">
                        </i><a href="#"><i class="fa fa-angle-down"></i>Poistenie Allianz</a>
                        <!--Flyout Right-->
                        <ul class="animated fadeIn">
                            <li><a href="#">Online poistenie</a></li>
                            <li><a href="#">KCP</a></li>
                            <li><a href="#">KCP podmienky</a></li>
                            <li><a href="#">CP podmienky</a></li>
                            <li><a href="#">Rady</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Vstupenky</a></li>
                    <li><a href="#">Cestovné lístky</a></li>
                    <li><a href="#">Trajektová doprava</a></li>
                    <li><a href="#">Predaj na splátky</a></li>

                </ul>
                <!--//End drop down-->
            </li>
            <li class="drop-down"><a href="#"><i class="fa fa-angle-down"></i><i class="fa fa-info-circle"></i> O nás</a>
                <!--Drop Down-->
                <ul class="drop-down-ul animated fadeIn">
                    <li><a href="o_nas.html">Popis</a></li>
                    <li><a href="#">Zľavy</a></li>
                    <li class="flyout-right"><a href="#"><i class="fa fa-angle-down"></i>Darčekové poukážky</a>
                        <!--Flyout Right-->
                        <ul class="animated fadeIn">
                            <li><a href="#">CK italtour</a></li>
                            <li><a href="#">Drogéria BUGY</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Certifikát</a></li>
                    <li><a href="#">Partneri CK</a></li>

                </ul>
                <!--//End drop down-->
            </li>
            <li><a href="#"><i class="fa fa-camera"></i>Fotogaléria</a></li>
            <li><a class="active" href="kontakt.html"><i class="fa fa-compress"></i>Kontakt</a></li>
            <li><a href="links.html"><i class="fa fa-external-link"></i>Link</a></li>
            <a href="#" class="toggle-menu visible-xs-block">&#9776;</a>
        </ul>
        <h2 id="moto">Za slnkom, vodou a pohodou</h2>

        <div class="shadow_border main_content align-top">
            <h3>Kde nás nájdete...</h3>
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.3839007207016!2d19.291801416031227!3d49.21224608367934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4715ae288f8a97f3%3A0xb21f26f0a7544b04!2sITALTOUR!5e0!3m2!1ssk!2sat!4v1599631489670!5m2!1ssk!2sat"
                    width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div id="kontakt_information">
                <p class="font-weight-bold m-0">Ing. Ľubomír Janák</p>
                <p>Pucov 71, 026 01 Dolný Kubín</p>

                <p class="font-weight-bold m-0">Prevádzka (korešpondenčná adresa):</p>
                <p>CA ITALTOUR<br> Radlinského 1721/58, 026 01 Dolný Kubín</p>

                <p>
                    <span class="font-weight-bold">IČO:</span> 32 281 030 <br>
                    <span class="font-weight-bold">IČ DPH:</span> SK1020465501 <br>
                    <span class="font-weight-bold">Bankové spojenie:</span> VÚB, a.s., pobočka Dolný Kubín <br>
                    <span class="font-weight-bold">Č. účtu:</span> 299 842 332 / 0200<br>
                    <span class="font-weight-bold">IBAN:</span> SK56 0200 0000 0002 9984 2332<br>
                    <span class="font-weight-bold">SWIFT(BIC):</span> SUBASKBX<br>
                </p>

                <p>
                    <span class="font-weight-bold">Tel./Fax:</span> 043 5864 222<br>
                    <span class="font-weight-bold">mobil:</span> 0903534270<br>
                    <span class="font-weight-bold">e-mail:</span>
                    <a href="mailto:info@italtour.sk">info@italtour.sk</a> (klienti)<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="mailto:italtour@italtour.sk">italtour@italtour.sk</a> (CA, CK, TO)
                </p>
                <p>
                    <span class="font-weight-bold">http:</span> <a href="index_with_iframe.html">http://www.italtour.sk</a><br />
                    <span class="font-weight-bold">skype:</span> ck-italtour.sk
                </p>
            </div>
        </div>

        <div id="reklama_div" class="shadow_border">
            <img src="../static/img/1.reklama.PNG" alt="reklama">
            <img src="../static/img/2.reklama.PNG" alt="reklama">
            <img src="../static/img/3.reklama.PNG" alt="reklama">
            <img src="../static/img/4.reklama.PNG" alt="reklama">
            <img src="../static/img/5.reklama.PNG" alt="reklama">
            <img src="../static/img/6.reklama.PNG" alt="reklama">
            <img src="../static/img/7.reklama.PNG" alt="reklama">
            <img src="../static/img/8.reklama.PNG" alt="reklama">
            <img src="../static/img/9.reklama.PNG" alt="reklama">
            <img src="../static/img/10.reklama.PNG" alt="reklama">
            <img src="../static/img/11.reklama.PNG" alt="reklama">
            <img src="../static/img/12.reklama.PNG" alt="reklama">
        </div>

        <div id="reklama_div_mobile" class="shadow_border">
            <img src="../static/img/1.reklama.PNG" alt="reklama">
            <img src="../static/img/2.reklama.PNG" alt="reklama">
            <img src="../static/img/3.reklama.PNG" alt="reklama">
            <img src="../static/img/4.reklama.PNG" alt="reklama">
            <img src="../static/img/5.reklama.PNG" alt="reklama">
            <img src="../static/img/6.reklama.PNG" alt="reklama">
            <img src="../static/img/7.reklama.PNG" alt="reklama">
            <img src="../static/img/8.reklama.PNG" alt="reklama">
            <img src="../static/img/9.reklama.PNG" alt="reklama">
            <img src="../static/img/10.reklama.PNG" alt="reklama">
            <img src="../static/img/11.reklama.PNG" alt="reklama">
            <img src="../static/img/12.reklama.PNG" alt="reklama">
        </div>
    </div>

    <div id="footer">
        <div class="footer_content">
            <div class="w-50 d-inline-block p-3">
                <p class="font-weight-bold">Adresa:</p>
                Radlického 1721/58 <br> 02601 <br> Dolný Kubín
            </div>
            <div class="align-top d-inline-block p-3">
                <p class="font-weight-bold">Kontakt:</p>
                Tel/fax: 043/5864222 <br> Mobil: 0903 534 270 <br> e-mail: info@italtour.sk <br> skype: ck-italtour
            </div>
        </div>
    </div>
</body>

</html>