<!DOCTYPE html>
<html lang="sk">

<head>
    <title>Ital tour</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="../static/img/logo.png" />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/links.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="../static/js/menu.js"></script>
</head>

<body>
    <div class="content">
        <div class="partnerske_ck">
            <img src="../static/img/tip_travel.png" alt="tip_travel">
            <img src="../static/img/hydrotour_logo.gif" alt="hydrotour">
            <img src="../static/img/satur.png" alt="satur">
            <img src="../static/img/solvex.png" alt="solvex">
            <img src="../static/img/turancar.jpg" alt="turancar">
            <img src="../static/img/fifo.png" alt="fifo">
            <img src="../static/img/kartago.jpg" alt="kartago">
            <img src="../static/img/happy_travel.png" alt="happy_travel">
            <img src="../static/img/azad.png" alt="azad">
            <img src="../static/img/globtour.jpg" alt="globtour">
            <img src="../static/img/daka.png" alt="daka">
            <img src="../static/img/paxtravel.png" alt="paxtravel">
        </div>
        <div class="background_image">
            <img src="../static/img/plaz_background.jpg" alt="background">
        </div>
        <ul class="exo-menu">
            <img id="logo" src="../static/img/logo.png" alt="Logo">
            <li><a href="index_with_iframe.html"><i class="fa fa-home"></i> Úvod</a></li>
            <li><a href="#"><i class="fa fa-suitcase"></i> Dovolenka</a></li>
            <li class="drop-down"><a href="#"><i class="fa fa-plane"></i>Letentky</a></li>
            <li class="drop-down"><a href="#"><i class="fa fa-angle-down"></i><i class="fa fa-cogs"></i>Iné služby</a>
                <!--Drop Down-->
                <ul class="drop-down-ul animated fadeIn">
                    <li class="flyout-right">
                        </i><a href="#"><i class="fa fa-angle-down"></i>Poistenie Allianz</a>
                        <!--Flyout Right-->
                        <ul class="animated fadeIn">
                            <li><a href="#">Online poistenie</a></li>
                            <li><a href="#">KCP</a></li>
                            <li><a href="#">KCP podmienky</a></li>
                            <li><a href="#">CP podmienky</a></li>
                            <li><a href="#">Rady</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Vstupenky</a></li>
                    <li><a href="#">Cestovné lístky</a></li>
                    <li><a href="#">Trajektová doprava</a></li>
                    <li><a href="#">Predaj na splátky</a></li>

                </ul>
                <!--//End drop down-->
            </li>
            <li class="drop-down"><a href="#"><i class="fa fa-angle-down"></i><i class="fa fa-info-circle"></i> O nás</a>
                <!--Drop Down-->
                <ul class="drop-down-ul animated fadeIn">
                    <li><a href="o_nas.html">Popis</a></li>
                    <li><a href="#">Zľavy</a></li>
                    <li class="flyout-right"><a href="#"><i class="fa fa-angle-down"></i>Darčekové poukážky</a>
                        <!--Flyout Right-->
                        <ul class="animated fadeIn">
                            <li><a href="#">CK italtour</a></li>
                            <li><a href="#">Drogéria BUGY</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Certifikát</a></li>
                    <li><a href="#">Partneri CK</a></li>

                </ul>
                <!--//End drop down-->
            </li>
            <li><a href="#"><i class="fa fa-camera"></i>Fotogaléria</a></li>
            <li><a href="kontakt.html"><i class="fa fa-compress"></i>Kontakt</a></li>
            <li><a class="active" href="links.html"><i class="fa fa-external-link"></i>Link</a></li>
            <a href="#" class="toggle-menu visible-xs-block">&#9776;</a>
        </ul>
        <h2 class="moto">Za slnkom, vodou a pohodou</h2>

        <div class="main_content shadow_border align-top">
            <h3>Zaujímavé odkazy:</h3>
            <span class="font-weight-bold">Partnerské stránky CA ITALTOUR</span>
            <div class="text-center">
                <a href="http://www.janak.biz/" target="_blank"><img src="../static/img/janak.png" alt="stavebne_prace_Janak"></a>
                <a href="http://www.venco-sk.com/" target="_blank"><img src="../static/img/venco.png" alt="stavebne_prace_venco"></a>
                <a href="http://www.bugy.sk/" target="_blank"><img src="../static/img/bugy.jpg" alt="bugy.sk"></a>
                <a href="http://www.maretta.orava.sk/" target="_blank"><img src="../static/img/maretta.png" alt="marreta.sk"></a>
                <a href="http://barbecue.euweb.cz/" target="_blank"><img src="../static/img/barbecue.jpg" alt="mognato"></a>
                <a href="http://www.psinvest.sk/" target="_blank"><img src="../static/img/ps_invest.png" alt="ps_invest"></a>
                <a href="http://www.rufin.sk/" target="_blank"><img src="../static/img/rufin.jpg" alt="rufin"></a>
                <a href="http://www.skvarka.sk/" target="_blank"><img src="../static/img/skvarka.png" alt="skvarka"></a>
            </div>
            <p>V prípade záujmu spolupráce s našou spoločnosťou nás neváhajte <a href="kontakt.html">kontaktovať</a>.</p>
        </div>

        <div id="reklama_div" class="shadow_border">
            <img src="../static/img/1.reklama.PNG" alt="reklama">
            <img src="../static/img/2.reklama.PNG" alt="reklama">
            <img src="../static/img/3.reklama.PNG" alt="reklama">
            <img src="../static/img/4.reklama.PNG" alt="reklama">
            <img src="../static/img/5.reklama.PNG" alt="reklama">
            <img src="../static/img/6.reklama.PNG" alt="reklama">
            <img src="../static/img/7.reklama.PNG" alt="reklama">
            <img src="../static/img/8.reklama.PNG" alt="reklama">
            <img src="../static/img/9.reklama.PNG" alt="reklama">
            <img src="../static/img/10.reklama.PNG" alt="reklama">
            <img src="../static/img/11.reklama.PNG" alt="reklama">
            <img src="../static/img/12.reklama.PNG" alt="reklama">
        </div>

        <div id="reklama_div_mobile" class="shadow_border">
            <img src="../static/img/1.reklama.PNG" alt="reklama">
            <img src="../static/img/2.reklama.PNG" alt="reklama">
            <img src="../static/img/3.reklama.PNG" alt="reklama">
            <img src="../static/img/4.reklama.PNG" alt="reklama">
            <img src="../static/img/5.reklama.PNG" alt="reklama">
            <img src="../static/img/6.reklama.PNG" alt="reklama">
            <img src="../static/img/7.reklama.PNG" alt="reklama">
            <img src="../static/img/8.reklama.PNG" alt="reklama">
            <img src="../static/img/9.reklama.PNG" alt="reklama">
            <img src="../static/img/10.reklama.PNG" alt="reklama">
            <img src="../static/img/11.reklama.PNG" alt="reklama">
            <img src="../static/img/12.reklama.PNG" alt="reklama">
        </div>
    </div>

    <div id="footer">
        <div class="footer_content">
            <div class="w-50 d-inline-block p-3">
                <p class="font-weight-bold">Adresa:</p>
                Radlického 1721/58 <br> 02601 <br> Dolný Kubín
            </div>
            <div class="align-top d-inline-block p-3">
                <p class="font-weight-bold">Kontakt:</p>
                Tel/fax: 043/5864222 <br> Mobil: 0903 534 270 <br> e-mail: info@italtour.sk <br> skype: ck-italtour
            </div>
        </div>
    </div>


</body>

</html>